.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background: #34495e;
}
.container {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  text-align: center;
}
.eye {
  width: 100px;
  height: 100px;
  background: #fff;
  display: inline-block;
  margin: 30px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.pupil {
  width: 40px;
  height: 40px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid #333;
}
